html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "retro";
  src: url(./fonts/Retro-Gaming.woff2);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "xbox";
  src: url(./fonts/xbox.woff2);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "playstation";
  src: url(./fonts/playstation.woff2);
  font-weight: normal;
  font-style: normal;
}

#landscape,
#content {
  background-color: #ffe6ff;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cover {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

#title {
  font-family:
    "retro", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 5rem;
}

#red {
  color: red;
}

#green {
  color: green;
}

#blue {
  color: blue;
}

#red,
#green,
#blue {
  margin-right: -1.75rem;
  padding: 0;
}

#description {
  font-family: monospace;
  font-size: 2rem;
  width: 20ch;
  font-weight: 100;
}

#button-redirection {
  background-color: black;
  color: white;
  font-family: "retro";
  font-size: 1.25rem;
  padding: 1rem;
  border-radius: 8px;
  text-decoration: none;
}

/* Styles related to the product content */
#products-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#arrows {
  display: flex;
}

/* Category buttons */
#categories {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.category-button {
  padding: 1rem;
  border-radius: 0.25rem;
  border: 1px black solid;
  cursor: pointer;
}

.gameboyButton {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  font-weight: bold;
  color: blue;
}

.xboxButton {
  font-family: "xbox", "monospace";
}

.playstationButton {
  font-family: "playstation", "monospace";
  color: white;
  background-color: black;
}

#xbox-green {
  color: #92c83e;
}

#xbox-grey {
  color: #9d9fa2;
}

#product-image {
  max-width: 150px;
  max-height: 150px;
}

#pagination {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin: 2rem;
}
